* {
    padding: 0;
    margin: 0;
}

.header {
    text-align: center;
    background-color: rgb(228, 220, 73);
    padding: 20px;
    margin-bottom: 20px;
}
.App {
    background-color: rgb(244, 255, 127);
    height: 592px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.wrapper {
    border-radius: 1px;
    border-width: 1px;
    border-color: black;
    display: flex;
    align-content: center;
}

.bottom {
    margin-top: 50px;
}

